@charset "UTF-8";
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
}
*{
    font-family: 'DungGeunMo';
    margin: 0;
    font-weight: 100;
    text-decoration: none;
}


/* 헤더 */

.mainheader{
  z-index: 35000;
  display: flex;
  width: 100%;
  background-color: #010081;
  color: white;
  border: 0.2rem #c0c0c0 solid;
  align-items: center;
  justify-content: space-between;
  position: fixed
}

ul > li{
  list-style: none;
  display: inline-block;
  padding: 0.5rem;
}

header ul{
  display: flex;
  justify-content: right;
}

.icon{
  height: 100%;
  width: 100%;
}

.menuheader{
  z-index: 35000;
  box-sizing: border-box;
  background-color: #c0c0c0;
  top: 3rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: fixed;
  border-top: .2rem solid #7b7b7b;
  justify-content: space-between;
}

.menuheader .test{
  padding-left: 0.5rem;
  padding-right: 1rem;
}


.menuheader .htitle{
  font-size:1rem;
}

.menuheader .text{
  position: absolute;
  margin-left: 40vw;
  top: 5rem;
}

.btnmenu{
  padding: 0.3rem;
  height: auto;
  position: absolute;
}

.sc{
  padding-left: 0;
}

/* 푸터 */

footer{
  background-color: #c0c0c0;
  color: white;
  padding: .5rem;
  text-align: center;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: #d9d9d9 solid 0.2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.footertitle{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* 컨테이너 */

.container{
  z-index: -35000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 100;
  border-left: #c0c0c0 solid 0.5rem;
  border-right:#c0c0c0 solid 0.5rem;
  box-sizing: border-box;
}

.btnmenu{
  display: none;
}

/* 타이틀 */

.title{
    width: auto;
    height: 7rem;
    font-size: 7rem;
    font-weight: 100;
    overflow: hidden;
}
.titleani{
  font-size: 7rem;
  font-weight: 100;
  color: #000000;
  width: auto;
  height: 7rem;
  animation: title 2s;
  animation-direction: reverse; 
}
.headertitle{
  font-size: 2rem;
  padding: 0.5rem;
  color: #ffffff;
  justify-content: left;
}
.subtitle{
  font-size: 2rem;
  font-weight: 100;
}

/* 버튼 */

.btn1{
  display: flex;
  width: 2rem;
  height: 2rem;
  background-color: #c0c0c0;
  margin: .02rem;
  border-bottom: #000 solid 0.2rem;
  border-top: #dbdbdb solid 0.2rem;
  border-left: #dbdbdb solid 0.2rem;
  border-right: #000 solid 0.2rem;

  float: left;
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.btn3{
  display: flex;
  width: 5.5rem;
  height: 2rem;
  background-color: #c0c0c0;
  margin: .02rem;
  border-bottom: #000 solid 0.2rem;
  border-top: #dbdbdb solid 0.2rem;
  border-left: #dbdbdb solid 0.2rem;
  border-right: #000 solid 0.2rem;

  float: left;
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}








/* 키프레임 */

@keyframes title {
    10% {
      transform: translate(0, -100%);
    }
    20% {
      transform: translate(0, -200%);
    }
    30% {
      transform: translate(0, -300%);
    }
    40% {
      transform: translate(0, -400%);
    }
    50% {
      transform: translate(0, -500%);
    }
    60% {
      transform: translate(0, -600%);
    }
    70% {
      transform: translate(0, -700%);
    }
    80% {
      transform: translate(0, -800%);
    }
    90% {
      transform: translate(0, -900%);
    }
    100% {
      transform: translate(0, -1000%);
    }
  }

/* 모바일 */

@media (max-width: 1000px) { 
  .mainheader{
    height: 8rem;
    width: 100%;
  }
  .headertitle{
    font-size: 6rem;
  }
  .menuheader{
    top: 8rem;
    height: var(--menu-height);
    justify-content: flex-end;
  }
  .test{
    display: flex;
    top: 30rem;
  }
 
  .btnmenu{
    padding: 0.3rem;
    display: flex;
    float: right;
  }
  
  .btn2{
    margin: .02rem;
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #c0c0c0;
    border-bottom: #000 solid 0.2rem;
    border-top: #dbdbdb solid 0.2rem;
    border-left: #dbdbdb solid 0.2rem;
    border-right: #000 solid 0.2  rem;
    color: #000;
    font-size: 4rem;
    font-weight: 100;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    float: right;
  }
  .btn1{
    width: 4rem;
    height: 4rem;
    border-bottom: #000 solid 0.2rem;
    border-top: #dbdbdb solid 0.2rem;
    border-left: #dbdbdb solid 0.2rem;
    border-right: #000 solid 0.2  rem;
    font-size: 4rem;
  }
  .testbox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }
  .menuheader .htitle{
    font-size: 4rem;
    cursor: pointer;
  }
  header ul{
    flex-direction: column;
  }
  footer{
    width: 100%;
    height: 5rem;
    font-size: 1.2rem;
  }
  .btn3{
    width: 7rem;
    height: 4rem;
    font-size: 2.5rem;
  }
  .subtitle{
    font-size: 3rem;
  }
}